@import url("https://fonts.googleapis.com/css2?family=Economica:ital@1&display=swap");
body {
  background-color: white;
  font-family: "Economica", sans-serif;
  margin: 0;
}

nav {
  background-color: rgba(234, 143, 61, 0.37);
  color: rgba(255, 255, 255, 0.89) !important;
  font-family: "Economica", sans-serif;
}

nav a {
  color: rgba(255, 255, 255, 0.89) !important;
  font-size: 1.1rem;
}

nav .nav-link {
  border-left: 1px solid rgba(255, 255, 255, 0.507);
  border-bottom: none;
  margin-right: 1rem;
}

nav .nav-link img {
  margin: 0 1rem;
  width: 27px;
}

nav .navbar-brand {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  nav .navbar-nav {
    position: absolute;
    right: 0;
  }
}

nav .navbar-toggler:focus {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.logoBig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7vh;
}

.form {
  margin: 5vh 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form #identify {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem 0;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.form #identify:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form #identify:hover:focus {
  outline: none !important;
}

.form .uploadPhotoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 2rem 0;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.form .uploadPhotoDiv:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form .uploadPhotoDiv #upload {
  visibility: hidden;
}

.form .uploadPhotoDiv #upload::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}

.form .uploadPhotoDiv #upload:focus {
  outline: none !important;
}

.form #buttonTakePhoto {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.form #buttonTakePhoto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form #buttonTakePhoto:hover:focus {
  outline: none !important;
}

.recognizedPlantImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  padding: 1rem;
  margin: 2rem 0;
  margin: 2rem auto;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px 0px grey;
          box-shadow: 2px 2px 8px 0px grey;
}

.resultsOfUploadPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resultsOfUploadPhoto .resultDiv {
  border: 1px solid grey;
  margin: 1rem;
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */