@import url('https://fonts.googleapis.com/css2?family=Economica:ital@1&display=swap');
@import './variables';


body {
    background-color: rgb(255, 255, 255);
    font-family: $font;
    margin: 0;
}

// Nav

nav {
    background-color: $nav-color;
    color: $white !important;
    font-family: $font;

    a {
        color: $white !important;
        font-size: 1.1rem;
    }

    .nav-link {
        border-left: 1px solid $border-white;
        border-bottom: none;
        margin-right: 1rem;

        img {
            margin: 0 1rem;
            width: 27px;
        }
    }

    .navbar-brand {
        font-size: 1.7rem;
        letter-spacing: 1px;

    }

    @media (min-width: 992px) {
        .navbar-nav {
            position: absolute;
            right: 0;
        }



    }


    .navbar-toggler {

        &:focus {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
        }

    }
}



// Logo

.logoBig {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}



// Form 

.form {
    margin: 5vh 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;

    // identifyDiv
    #identify {
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.5rem 0;
        outline: none;
        transition: all .2s ease-in-out;
        cursor: pointer;



        &:hover {
            transform: scale(1.1);

            &:focus {
                outline: none !important;
            }
        }
    }

    // uploadDiv


    .uploadPhotoDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 2rem 0;
        outline: none;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        #upload {

            visibility: hidden;

            &::-webkit-file-upload-button {
                visibility: hidden;
                display: none;
            }

            &:focus {
                outline: none !important;
            }
        }
    }

    // takePhotoDiv

    #buttonTakePhoto {
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        outline: none;
        transition: all .2s ease-in-out;
        cursor: pointer;


        &:hover {
            transform: scale(1.1);

            &:focus {
                outline: none !important;
            }
        }
    }



}




// Result section


.recognizedPlantImg {
    display: flex;
    width: 350px;
    padding: 1rem;
    margin: 2rem 0;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0px grey;

}

.resultsOfUploadPhoto {
    display: flex;
    flex-direction: column;

    .resultDiv {
        border: 1px solid grey;
        margin: 1rem;
        padding: 1rem;
    }
}